		section.intro 
			.intro__imagen: img(src="./images/imagen.png", alt="Imagen vacia") 
			.intro__contenido 
				h2= titulos[0]
				p 
					|Lorem ipsum, dolor sit amet consectetur 
					|adipisicing elit. Architecto ducimus deleniti 
					|magnam dolorum perspiciatis enim, modi corporis 
					|unde at veritatis, rem, velit nemo cupiditate 
					|minima aliquam neque praesentium iste sit
					span asd;lkjfa;solijopqwieurfal;skdjf
				a.boton Leer Mas
		main.contenido
			+caja('imagen.png',titulos[1],'Lorem ipsum, dolor sit amet consectetur')
			+caja('imagen.png',titulos[2],'Lorem ipsum, dolor sit amet consectetur')
			+caja('imagen.png',titulos[3],'Lorem ipsum, dolor sit amet consectetur')