-var titulo = "Titulo principal"
-var titulos = ["Titulo Principal", "Subtitulo 1", "Subtitulo 2", "Subtitulo 3"]
doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="./css/ejercicio-pug.css")
		title Preprocesador de CSS
	body 
		header 
			h1 Platzi Games 
			a.boton Registro
		section.intro 
			.intro__imagen: img(src="./images/imagen.png", alt="Imagen vacia") 
			.intro__contenido 
				h2= titulos[0][1]
				p 
					|Lorem ipsum, dolor sit amet consectetur 
					|adipisicing elit. Architecto ducimus deleniti 
					|magnam dolorum perspiciatis enim, modi corporis 
					|unde at veritatis, rem, velit nemo cupiditate 
					|minima aliquam neque praesentium iste sit
					span asd;lkjfa;solijopqwieurfal;skdjf
				a.boton Leer Mas